<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Master Suite" parallel="classes" thread-count="4" verbose="1">
    <parameter name="email" value="testpro.user03@testpro.io"/>
        <parameter name="password" value="te$t$tudent"/>
    <test name="All tests">
        <classes>
            <class name="seleniumTests.LoginTest">
                <methods>
                    <include name="loginTest_CorrectCredentials_LoggedToApp"/>
                    <include name="loginTest_CorrectCredentials_LoggedToApp1"/>
                    <include name="loginTest_CorrectCredentials_LoggedToApp2"/>
                    <include name="loginTest_CorrectCredentials_LoggedToApp3"/>
                    <include name="loginTest_CorrectCredentials_LoggedToApp4"/>
                    <include name="loginTest_CorrectCredentials_LoggedToApp5"/>
                    <include name="ticketPriceForCalculator"/>
                </methods>
                </class>
            <class name="seleniumTests.LoginTestNew">
                <methods>
                    <include name="loginTest_CorrectCredentials_LoggedToApp6"/>
                    <include name="loginTest_CorrectCredentials_LoggedToApp7"/>
                    <include name="loginTest_CorrectCredentials_LoggedToApp8"/>
                    <include name="loginTest_CorrectCredentials_LoggedToApp9"/>
                    <include name="loginTest_CorrectCredentials_LoggedToApp10"/>
                    <include name="loginTest_CorrectCredentials_LoggedToApp11"/>
                </methods>
            </class>
            <class name="seleniumTests.PlaylistTests">
                <methods>
                    <include name="playlistTests_createPlaylist_PlaylistCreated"/>
                    <include name="playListTests_renamePlayList"/>
                    <include name="playlistTests_createPlaylist_PlaylistCreated1"/>
                    <include name="playListTests_renamePlayList1"/>
                </methods>
            </class>
            <class name="seleniumTests.PlaylistTestsNew">
                <methods>
                    <include name="playlistTests_createPlaylist_PlaylistCreated3"/>
                    <include name="playListTests_renamePlayList3"/>
                    <include name="playlistTests_createPlaylist_PlaylistCreated4"/>
                    <include name="playListTests_renamePlayList4"/>
                </methods>
            </class>

            </classes>
        </test>
    </suite>
